body{
    background-color: #E8E8E8;
}

.titulo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #151515;
    padding: 15px;
    z-index: 100; 

}

.titulo img{
    height: 140px;
    width: 170px;
}

.receitas img{
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.receitas h2{
    text-align: center;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    background-color: #FFDC34;
    border-radius: 10px;
    margin-top: 30px;
}

.receitas p{
    font-size: 18px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Open Sans, sans-serif;
}

#doce{
    background-color: #ffffff;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#doce h2{
    padding-top:15px;
    padding-bottom: 15px;
}

#doce figcaption{
    text-align: center;
    padding-top: 10px;
    font-family: Roboto, sans-serif;
}

.header-main h1{
    font-size: 48px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    background-color: #333333;
    width: 1085px;
    height: 150px;
    padding-top: 40px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

.rodape{
    background-color: #151515;
    height: 80px;
    text-align: center;
    font-family: Roboto, sans-serif;
    padding: 25px;
    color: #ffffff;
}